# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.
1. Python
2. R
3. Julia
4. SQL
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Data-table
5. Tidyr

|Data Science Tools|
|------------------|
|Jupyther|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [4]:
(200/60)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Write an introductory sentence about the notebook
- Create a single column table
- Add a line with H3 style heading
- Create a code cell to convert minutes to hours

## Author
Naot